.footer {
    display: flex;
    flex-direction: column;
    background-color: #2f303a;
}

.div-footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 28px;
}

.footer-signature {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 18px;
    padding-bottom: 21px;
    margin: 0;
}