.our-clients {
    display: block;
}

.our-title {
    @extend %font36;
    margin: 0;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop-upper){
        margin-bottom: 50px;
    }
}

.our-ul {
    display: flex;
    @media screen and (min-width: $mobile-upper) {
        flex-wrap: wrap;
        margin: 0px;
    }
    @media screen and (min-width: $tablet-upper){
        flex-wrap: wrap;
        margin: 0px;
    }
}

.our-li {
    display: block;
    max-width: 210px;
}

@media screen and (min-width: $mobile-upper) {
        .our-div-logo {
            max-width: 210px;
        }
        
.our-div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colortransgray;
    border-radius: 4px;
    height: 90px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo1 {
    width: 44.27px;
    height: 49.23px;
    /*margin-left: 62px;
    margin-right: 62px;*/
    justify-content: center;
}

.logo2 {
    width: 40px;
    height: 52px;
    margin-left: 64px;
    margin-right: 64px;
}

.logo3 {
    width: 41px;
    height: 42.6px;
    margin-left: 63px;
    margin-right: 64px;
}

.logo4 {
    width: 79.66px;
    height: 42.02px;
    margin-left: 44px;
    margin-right: 44px;
}

.logo5 {
    width: 59px;
    height: 47px;
    margin-right: 54px;
    margin-left: 55px;
}

.logo6 {
    width: 88.48px;
    height: 45.44px;
    margin-left: 40px;
    margin-right: 40px;
}

.logo-style {
    fill: $colortransgray;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-link:hover .logo-style,
.our-link:focus .logo-style {
    fill: $colorhover;
}

.our-link:hover .our-div-logo,
.our-link:focus .our-div-logo {
    border: 1px solid $colorhover;
}
