%logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

%footer-address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

%font14 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

%font1424 {
    color: $colorgray;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

%font16 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
}

%font36 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $colorsemyblack;
}